@import url(header.css);
@import url(headerhover.css);
@import url(main.css);
@import url(main2.css);
@import url(mainhover.css);
@import url(footer.css);
@import url(footerhover.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}